<div class="reveal" data-reveal id="budget-excess">
  <div class="reveal__header">
    <h3 class="reveal__title"><%= current_order.projects_rule? ? t("projects_excess.title", scope: "decidim.budgets.projects.budget_excess") : t("budget_excess.title", scope: "decidim.budgets.projects.budget_excess") %></h3>
    <button class="close-button" data-close aria-label="<%= t("close", scope: "decidim.budgets.projects.budget_excess") %>" type="button">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <p><%= current_order.projects_rule? ? t("projects_excess.description", scope: "decidim.budgets.projects.budget_excess") : t("budget_excess.description", scope: "decidim.budgets.projects.budget_excess") %></p>
  <div class="row">
    <div class="columns medium-8 medium-offset-2">
      <button data-close class="button expanded"><%= t("ok", scope: "decidim.budgets.projects.budget_excess") %></button>
    </div>
  </div>
</div>
