<div class="row column voting-rules">
  <div class="callout warning">
    <div class="row">
      <div class="columns medium-8 large-9">
        <h5 class="heading5">
          <%= rules_title %>
        </h5>
        <ul>
          <%= raw rules_text(:instruction) %>
        </ul>
      </div>
    </div>
  </div>
</div>
