<div class="row column voting-rules">
    <div class="callout warning">
      <div class="row">
        <div class="columns medium-8 large-9">
          <h3 class="heading3">
            <%= t("rules.title", scope: "decidim.budgets.projects.budget_summary") %>
          </h3>
          <ul>
            <%= raw current_rule_explanation %>
          </ul>
        </div>
      </div>
    </div>
  </div>
