.focus-mode {
  position: fixed;
  z-index: 1000;
  width: 100%;
  top: 0;
  left: 0;
  background: $medium-gray;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);

  &__title {
    text-align: center;
  }

  &__bar {
    padding: 0.5em;
    display: grid;
    grid-template-columns: 10% 80% 10%;
    align-items: center;

    &--right {
      display: flex;
      justify-content: right;
      align-items: center;
      gap: 1em;
      text-align: right;
    }
  }

  &__close {
    position: relative;
    margin: 0;
    right: 0;
    top: 0;
    line-height: 0.5em;
  }

  &__wrapper {
    background: white;
  }

  &__body {
    max-width: 75rem;
    padding: 1em;
    font-size: 80%;
    margin: auto;

    // Reduce sizes of content as much as possible
    .card,
    .card__content {
      margin: 0;
      padding: 0;
      border: none;
    }

    ul {
      margin-bottom: 0;
    }

    .budget-summary__selected-list {
      margin-top: 0;
    }
  }
}
