<div id="order-progress">
  <%= render partial: "budget_summary" %>

  <div class="progressbox-fixed-wrapper" data-progressbox-fixed>
    <div class="budget-summary__progressbox budget-summary__progressbox--fixed">
      <%= render partial: "budget_summary" %>
    </div>
  </div>
</div>
